dataset_inception_v3/
dataset_vgg16/
dataset_efficientNet/
dataset_efficientNetB4/
checkpoints/
.ipynb_checkpoints/

dataset
dataset.zip

6_merapi_park.json
7_air_terjun_sri_getuk.json
8_parangtritis.json
9_hutan_pinus.json
10_bukit_paralayang.json
11_heha_sky_view.json
12_ayunan_langit_watu_jaran.json

Image_Captioning_using_Attention_Mechanism.py
bleu_methods_paper_notes.md
image_captioning_inceptionV3.py
image_captioning_inceptionV3_new.py
logs/

image_captioning_efficientNet_BLEU.html
image_captioning_efficientNetB4_BLEU.html
image_captioning_vgg16_BLEU.html
image_captioning_inceptionV3_BLEU.html